@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F2F7;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
